
.idea/CrimeControll.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
Models/scripts/test.ipynb
datasets/test_set_full.csv
datasets/training_set_full.csv
datasets/crime_data.csv
datasets/processed_crime_data_FULL.csv
datasets/validation_set_full.csv
Models/scripts/__pycache__/utils.cpython-312.pyc
Models/scripts/test.ipynb
*.pyc
*.pyo
ResourceAllocation/ui_allocatione.csv
ResourceAllocation/location_data.csv
ResourceAllocation/policeman_data.csv
ResourceAllocation/ui_allocation.csv
ResourceAllocation/__pycache__/resource_allocation.cpython-312.pyc
ResourceAllocation/__pycache__/policeman_turn.cpython-312.pyc
ResourceAllocation/__pycache__/policeman_generator.cpython-312.pyc
ResourceAllocation/__pycache__/location_generator.cpython-312.pyc
Models/scripts/__pycache__/utils.cpython-312.pyc
Models/scripts/__pycache__/PredictionClass.cpython-312.pyc
